   
    body {
        font-family: Arial,arial;
        margin: 20px;
        background-color: rgb(189, 189, 189);
        
      }
  
      header {
        text-align: center;
        margin-bottom: 20px;
      }
  
      h1, h2 ,h3{
        margin: 0;
      }

      p{
        margin-bottom: 0;

      }
  
      #invoice-details {
        margin-bottom: 20px;
      }
  
      #invoice-items {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
      }
      
      #invoice-items td {
        text-align: center;
    }

  
      #invoice-items th, #invoice-items td {
        border: 1px solid #000000;
        padding: 8px;
        text-align: left;
      }
  
      #invoice-total {
        border: 1px solid #000000;
        padding: 8px;
        float: right;
      }

      img {

        position: absolute; 
            top: 5px; 
            left: 65px; 
            
       
       
      }

      .center-container {
        margin: 10px auto; 
        max-width: 900px;
    }


    .print-btn {
        display: block; 
    }

    .logo {
      display: flex;
      align-items: center; /* Align items vertically */
  }

  .logo img {
      width: 140px;
      border-radius: 70px;
      margin-right: 10px; /* Add margin to create space between the image and other content */
  }

    
    @media print {
        .print-btn {
            display: none;
        }
        .card {
          display: none; /* Hide the card when printing */
      }
      nav {
        display: none; 
      
    }
  }
   
      
    